{% extends "base.html" %}
<!-- cargar static ruta -->
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %} {{NombreApp}}{% endblock %}
{% block title %}{{ entity }}{% endblock %}
{% block Css %}
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
{% load bootstrap5 %}
<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                 <i class="fas fa-trash"></i>    {{ titulo }}
                </h3>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                <!-- /.card-header -->
                <div class="card-body">
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% block personalizaMensaje %}
                    <div class="alert alert-danger alert-dismissible">
                        <h5><i class="icon fas fa-ban"></i> Notificación!</h5>
                        ¿Estas seguro de eliminar el registro "#"{{ object.id }}?
                    </div>
                    {% endblock %}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fas fa-save"></i> Si, aceptar
                    </button>
                    <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                </div>
            </form>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'js/util/funciones.js' %}"></script>
<script>

        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de eliminar el siguiente registro?', parameters, function () {
                Swal.fire({
                    title: 'Alerta',
                    text: 'Acción guardada correctamente',
                    icon: 'success',
                    timer: 2000,
                    onClose: () => {

                    }
                }).then((result) => {
                    location.href = '{{ list_url }}';
                });
            });
        });
    </script>
{% endblock %}